#page-sheet {
	margin:0px;
}
div.packlabel {
	/*margin:5px 0px;*/
	/*padding:0 5px;*/
	display:inline;
}

div.stickylabel {
	width:144px;
	height:144px;
	/*margin:10px 5px;*/
	display:inline;
}
		
.first-row {
	overflow:auto;
}

.first-row span.title-pack,.first-row span.packtype{
	display: inline;
  	width: 50%;
  	float:left;
}

.first-row span.title-pack p{
	font-size: 6pt;
}
.first-row span {
	display:block;
	float:none;
	width:80%;
}

.second-row p{
	display: inline;
  	width: 35%;
  	float:left;
  	font-size: 4pt;
  	text-align: center;
}

span.title p {
	font-size:4pt;
	font-weight: bold;
	text-align: center;
	/*margin: 5px 0px;*/
}

span.packtype {
	font-size:125pt;
	text-align: center;
}

.third-row {
	margin:10px 0px;
	text-align:center;
	font-size: 8pt;
}

.fourth-row {
	margin:10px 0px;
	text-align:center;
	font-size: 10pt;
}

.second-row {
width:100%;
overflow: auto;
}

.stickylabel .barcode img{
	width:100%;
	height:15px;
}

.stickylabel .fourth-row p{
	margin:3px 0;
	font-size: 10pt;
}